* {
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px;
    /* background-color: floralwhite; */
}

/* #h1 {
    text-align: center;
    color: royalblue;
}

#p1 {
    word-spacing: 2px;
    font-weight: lighter;
    letter-spacing: 1.25px;
}

#order {
    color: whitesmoke;
    background-color: deepskyblue;
    border: none;
    border-radius: 100px;
    align-content: center;
    padding: 12px 18px 12px 18px;
    margin: auto;
    cursor: pointer;
}

img {
    width: 600px;
}

@media only screen and (max-width: 1000px){
    body {
        background-color: rgb(255, 219, 224);
    }
}

@media only screen and (max-width: 600px){
    img {
        width: 400px;
    }
}

@media only screen and (max-width: 400px){
    img {
        width: 200px;
    }
    body {
        background-color: khaki;

    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.one,.two,.three {
    border: 2px solid deeppink;
    width: 250px;
} */

/* .one {
    flex: 3;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
} */

/*.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.col {
    background-color: skyblue;
    align-items: center !important;
}

.container {
    align-items: center;
}

.navbar {
    width: 930px;
    color: white;
    text-decoration: none;
}

.navbar-light {
    text-align: left; */
